.checkoutDetailsContainer {
	margin-top: 40px;
	margin-bottom: 50px;
}

.shoppingCartItemPrice {
	display: flex;
	justify-content: flex-end;
}

.orderSummaryOffset {
	top: 6em;
	z-index: 0 !important;
}

.shoppingCartTotalPrice {
	display: flex;
	justify-content: flex-end;
}

.checkoutNavigationBottomMargin {
	margin-bottom: 50px;
}

.card-subtitle.h6 {
	font-size: 1.25rem;
}

.contactDetails {
	line-height: 0.5em;
}
